:host {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.main,
.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  flex-grow: 1;
  margin-left: 10px;
}

.main grid-map-display:focus {
  outline: auto 1px;
}

.sidebar {
  flex-shrink: 1;
  height: 100%;
}

/* add spacing between items in sidebar */
.sidebar * {
  margin-left: 4px;
  margin-right: 7px;
  margin-top: 10px;
}

.sidebar *:last-child {
  margin-bottom: 10px;
}

