:host {
  display: inline-block;
  max-width: 300px;
  min-width: 300px;
}

.console-display {
  margin-right: 0;
  padding: 10px;
}

.console-content[collapsed] {
  .container {
    display: none;
  }
}